

$color-gray: #9CA3AF;

$card-size: 100%;


* {
  box-sizing: border-box;
}

.carousel {
  position: relative;
  width: $card-size;
  perspective: 500px;
  transform-style: preserve-3d;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
}

.card {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  text-align: justify;
  transition: all 0.3s ease-out;
  
  
  p, h2 {
    transition: all 0.3s ease-out;
    opacity: var(--active);
  }
}

.nav {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
  
  &.left {
    left: max(100px, 15%);
    top: 50%;
    transform: translateX(-100%) translatey(-50%);
  }
  
  &.right {
    top: 50%;
    right:  max(100px, 15%);
    transform: translateX(100%) translatey(-50%);
  }
}