* {
  box-sizing: border-box;
  
}


#realperso .carousel {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  left:0px;

}

.card-container {
  position: relative;
}

.nav {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
  
  &.left {
    left:50px;
    top: 50%;
    z-index: 3;
    transform: translateX(-100%) translatey(-50%);
  }
  
  &.right {
    top: 50%;
    right:  50px;
    transform: translateX(100%) translatey(-50%);
  }
}