* {
  box-sizing: border-box;
  
}


.carousel {
  position: relative;
  left: 7%;
  width: 80%;
  transform-style: preserve-3d;
  
}

.card-container {
  position: relative;
  left: 50px;

}

.nav {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
  
  &.left {
    left:5%;
    top: 50%;
    transform: translateX(-100%) translatey(-50%);
  }
  
  &.right {
    top: 50%;
    right:  5%;
    transform: translateX(100%) translatey(-50%);
  }
}